* {
    padding: 0;
    margin: 0;
}

html, body {
	height: 100%;
	color: #fff;
	min-width: 450px;
}

body{
	font-family: lato;
	color: #93a4aa;
	height: 100%;
}

section {
	padding: 50px 0;
}

hr {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

h1, h2, h3, h6 {
	text-align: center;
	text-transform: uppercase;
	color: #f7f7f7;
}

h1 {
 	font-size: 5em;
}

span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

button:focus {
	outline: 0 !important;
	background: none;
}

/*=============================================
	THIS IS FOR THE WELCOME SPLASH SCREEN
===============================================	
*/

/*Main Div*/
.splash {
	display: flex;
	align-items: center;
	background: url('../img/splash.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	text-align: center;
	margin: 0 auto;
	min-width: 35%;
	min-height: 50%;
	width: 100%;
	height: 100%;
}

/*Button That Anchors to About Section*/
.splash-button {
	border: 4px solid #FED766;
	border-radius:24px;
	background: none;
	color: #FED766;
	transition: color 0.2s 0.3s, 
				background-color 0.3s ease-in-out, 
				width 0.3s 0s;
}

.splash-button i {
	color: #FED766;
}

/*======================================================
		Div that contains Social Media Links
========================================================
*/

.media {
	display: block;
	position: absolute;
	padding-left: 3px;
	left: 0;
	top: 45%;
}

ul li a {
	display: block;
	height: 55px; 
	width: 55px;
	margin-right: 20px;
	color: white;
	transition: 0.2s linear;
}

li:hover a {
	width: 80px;
	border-top-right-radius: 10%;
	border-bottom-right-radius: 10%;
}
/*This hides the Social Media Links on Mobile Devices*/
@media only screen and (max-width: 680px) {
    .media {
        display: none;
    }
}

.fa {
	color: white;
}

.fa-instagram:hover {
	background: #1a2a6c;  /* fallback for old browsers */
	background: linear-gradient( #400080, transparent), linear-gradient( 200deg, #d047d1, #ff0000, #ffff00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.fa-twitter:hover {
	color: #00aced;
}

.fa-github:hover {
	color: #93a4aa;
}

.fa-linkedin:hover {
	color: #0077B5;
}
/*======================================================
========================================================
*/

/*This Is the About Section CSS*/
.title-header {
	display: block;
	text-align: center;
	padding-bottom: 10px;
	color: black;
}

.about-row {
	width: 100%;
	margin: 0 auto;
}

.block {
	margin: 20px 0;
}

.zelda img {
	display: block;
	margin: 0 auto;
	min-width: 250px;
	width: 50%;
	height: 100%;
}

.about-block {
	position: relative;
}

.about-img {
	display: block;
	margin: 0 auto;
	padding-bottom: 10px;
	width: 50%;
	height: 50%;
	border-radius: 50%;
}

.about-section {
	background-color: #fff;
	color: #fff;
}

.about-para {
	display: block;
    text-align: center;
	font-size: 21px;
    font-weight: 200;
    color: #252a30;
}

/*======================================================
========================================================
*/

/*This is the Skill Section CSS*/
.jumbotron {
	width: 100%;
	height: 100%;
}

.skill-section {
	margin: 0;
	padding: 0;
	width: 100%;
}

.row {
	margin: 0 auto;
	margin-top: 80px;
}

.skill-block {
	text-align: center;
}

div.skill-block p {
	text-align: center;
}

.skill-img {
	display: block;
    margin: 0 auto;
    padding: auto;
    float: none;
}

.skill-para {
	display: block;
    margin: 0 auto;
    padding-top: 15px;
    padding: auto;
    float: none;
    color: #252a30;
}

/*======================================================
========================================================
*/

/*This is the Projects Section CSS*/
.projects-row {
	max-width: 60%;
}

.projects-para {
	display: block;
    text-align: center;
	font-size: 21px;
    font-weight: 200;
    color: #252a30;
}

.image {
  	background-size: cover;
  	background-position: center center;
  	width: 100%;
  	height: 250px;
}

.circle {
	background-image: url('../img/circle.PNG');
}

.gallary {
	background-image: url('../img/gallary.PNG');
}

.todo{
	background-image: url('../img/todo.PNG');
}

.rgb {
	background-image: url('../img/rgb.PNG');
}

/*======================================================
========================================================
*/

/*This is the Hire-Me Section*/
.hire-me {
	background: #FED766; 
}

.hire-title {
	padding: 10px 0;
}

.hire-para {
	text-align: center;
	padding: 0 20px;
	font-size: 1.5em;
	color: #252a30;
}

/*======================================================
========================================================
*/

footer {
	position: relative;
	background: #252a30;
	width: 100%;
	height: 10%;
}

footer div {
	display: block;
	margin: 0 auto;
	padding-top: 50px;
	/*top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50% );
	-moz-transform: translate(-50%, -50% );
	-o-transform: translate(-50%, -50% );
	-ms-transform: translate(-50%, -50% );
	transform: translate(-50%, -50% );*/
}

footer div p {
	text-align: center;
	padding: 0 20px;
	font-size: 15px;
	color: #FED766;
}

div.contact {
	position: relative;
	margin: 0 auto;
	min-width: 30%;
	min-height: 50%;
	width: 100%;
	height: 100%;
	text-align: center;
}



button {
	border: 3px solid #252a30;
	border-radius:24px;
	background: none;
	transition: color 0.2s 0.3s, 
				background-color 0.3s ease-in-out, 
				width 0.3s 0s;
}

button.button-hide {
	border: 3px solid #252a30;
	border-radius:24px;
	background: none;
	color: #252a30;
	
}

.splash-button {
	border: 3px solid #FED766;
	color: #FED766;
}

#number {
	visibility: none;
	display: none;
	font-size: 15px;
}

#content {
	margin: 0 auto;
	overflow: auto;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
} 
