* {
    padding: 0;
    margin: 0;
}

html, body {
	margin: 0;
	height: 100%;
}

body{
	font-family: lato;
	color: #93a4aa;
	height: 100%;
}

section {
	padding: 50px 0;
}

hr {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

h1 {
  font-size: 5em;
  color: #f7f7f7;
  text-transform: uppercase;
}

h2 {
	color: #fff;
}

span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

div#drop-down a {
	font-size: 20px;
	color: white;
}

ul li a {
	height: 55px; 
	width: 55px;
	margin-right: 20px;
	color: white;
	display: block;
	transition: 0.2s linear;
}

button:focus {
	outline: 0 !important;
	background: none;
}

li:hover a {
	width: 80px;
	border-top-right-radius: 10%;
	border-bottom-right-radius: 10%;
}

.splash {
	background: url(../img/splash.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	text-align: center;
	min-width: 30%;
	min-height: 50%;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.splash-button {
	background: none;
	color: #fff;
	border: 4px solid #fff;
	border-radius:24px;
}

.media {
	display: block;
	position: absolute;
	padding-left: 3px;
	left: 0;
	top: 45%;
}

@media only screen and (max-width: 680px) {
    .media {
        display: none;
    }
}

.fa-twitter:hover {
	color: #00aced;
}

.fa-instagram:hover {
	background: #1a2a6c;  /* fallback for old browsers */
	background: linear-gradient( #400080, transparent), linear-gradient( 200deg, #d047d1, #ff0000, #ffff00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.about-img {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	margin: 0 auto;
}

.jumbotron {
	width: 100%;
	height: 100%;
}

.skill-section {
	margin: 0;
	padding: 0;
	width: 100%;
}

.row {
	max-width: 1000px;
	margin: 0 auto;
}

.skill-block {
	text-align: center;
}

div.skill-block p {
	text-align: center;
}

.skill-img {
	display: block;
    margin: 0 auto;
    padding: auto;
    float: none;
}

.skill-para {
	display: block;
    margin: 0 auto;
    padding-top: 15px;
    padding: auto;
    float: none;
    color: #252a30;
}

.about-section {
	color: #fff;
	background-color: #fff;
}

.about-para {
	font-size: 21px;
    font-weight: 200;
    color: #252a30;
}

.section-hr {	
	width: 80%;
	text-align: center;
	margin: 0 auto;
	border-top: 5px solid #f8f8f8;
	color: #fff;
}

.skill-header {
	text-align: center;
	color: black;
	padding-bottom: 80px;
}


#content {
	overflow: auto;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
} 

#drop-down {
	overflow: auto;
	margin-top: 2%;
	display: inline-block;
	bottom: 0;
	position: relative;
	text-decoration: none;
}

/*#252a30; footer color*/
